.mainCartBtn {
  
  padding: .7rem 1.4rem;
  border-radius: 10px;
  border: 1px solid rgb(255, 65, 65);
  box-shadow: 1px 1px 20px 1px rgb(255, 65, 65);
  transition: all 0.2s;
  background-color: inherit;
  
 cursor: pointer;
	
  color: inherit;
  
}




.mainCartBtn:hover {
  transform: scale(102%);
  box-shadow: 2px 2px 30px 2px rgb(255, 65, 65);
  
}

@media (max-width: 768px) {
  .mainCartBtn {
    padding: .4rem 1rem;
    box-shadow: 1px 1px 10px 1px rgb(255, 65, 65);
    white-space: pre-wrap;
   word-wrap: break-word;
   width: min-content;
   line-height: 15px;
  }

  .mainCartBtn:hover {
    transform: scale(102%);
    box-shadow: 2px 2px 20px 2px rgb(255, 65, 65);
  }
}