.cart {
  min-height: 40vh;
  max-height: 80vh;
  overflow: auto;
  background-color: rgb(10, 0, 15);
  
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  border: 5px solid rgb(265, 65, 65);
  border-top: none;
  border-bottom: none;
  padding: 30px 0;
  text-align: center;
  width: 40vw;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.cart::-webkit-scrollbar {
  display: none;
}

.cart-actions {
  display: flex;
  flex-direction: column;
  
  
  
}

.top-cart-actions {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  margin: auto;
 border: 2px solid rgb(265, 65, 65);
 border-top: none;
 border-bottom: none;
 border-radius: 10px;
 
}

.top-cart-actions > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}



.bot-cart-actions {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  
  
}


.submit-cart-btn, .exit-cart-btn {
  padding: 5px 10px;
  border: 1px solid rgb(265, 65, 65);
  background-color: inherit;
  color: inherit;
  border-radius: 7px;
  
  cursor: pointer;
}

.submit-cart-btn:hover, .exit-cart-btn:hover {
  transform:scale(105%);
 
}



.submit-cart-btn {
  box-shadow: 1px 1px 10px 1px rgb(255, 65, 65);
  justify-self: center;
}

.submit-cart-btn:hover {
  box-shadow: 2px 2px 20px 2px rgb(255, 65, 65);
}

.exit-cart-btn {
  position: absolute;
  right: 40px;
  
  
 
}

.exit-cart-btn:hover {
  box-shadow: 1px 1px 10px 1px rgb(255, 65, 65);
}

@media (max-width: 1440px) {
  .cart {
    width: 50vw;
  }
}

@media (max-width: 1024px) {
  .cart {
    width: 70vw;
  }
}

@media (max-width: 768px) {
  .cart {
    width: 100vw;
    min-height: 100vh;
    border: none;
    background-color: rgb(10, 0, 15);
  }
  .top-cart-actions > div {
    white-space: pre-wrap;
   word-wrap: break-word;
   width: min-content;
 
    
  }
 
}

@media (max-width: 500px) {
  .bot-cart-actions {
    justify-content: space-evenly;
    
  }
  .exit-cart-btn {
    position: initial;
  }
}