.cart-item {
  display: flex;
 
  
  
}



.cart-item:not(:last-of-type) {
  border-bottom: 1px solid grey;
}

.cart-item > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 70px;
  width: calc(100% / 6);
 
}

.cart-item h4 {
  margin: 0;
  
}

.cart-item-header {
  color: rgb(265, 65, 65);
}

.value {
  font-style: italic;
}

.value-added {
  color: rgb(0, 165, 0);
}

.value-not-added {
  color: red;
}

.cart-item button {
  padding: 5px 10px;
  border: 1px solid rgb(265, 65, 65);
  background-color: inherit;
  color: inherit;
  border-radius: 7px;
  box-shadow: 1px 1px 10px 1px rgb(255, 65, 65);
  cursor: pointer;
}

.cart-item button:hover {
  transform:scale(105%);
  transition: all .2s;
  box-shadow: 2px 2px 20px 2px rgb(255, 65, 65);
}