.bike-item {
  display: flex;
  width: calc(50% - 25px);
  min-height: 350px;
  justify-content: space-between;

  border: 2px solid rgb(265, 65, 65);
  border-radius: 10px;
  margin: 0 25px 25px 0;
  background-color: inherit;
  padding: 20px;
  gap: 20px;
}

.bike-item:hover {
  cursor: pointer;
  transform: scale(101%);
  transition: all 0.2s;
  box-shadow: 1px 1px 12px 1px rgb(265, 65, 65);
}

.bike-item-added .left-box {
  opacity: 0.5;
}

.bike-item-added .right-top-box {
  opacity: 0.5;
}

.bike-item-added .right-mid-box {
  opacity: 0.5;
}

.bike-item.bike-item-added:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.left-box {
  flex-basis: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bike-item-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bike-btn {
  width: 60%;
  align-self: center;
  background-color: transparent;
  border: 1px solid rgb(265, 65, 65);
  color: inherit;
  border-radius: 7px;
  padding: 5px 10px;
  cursor: pointer;
}

.bike-btn:hover {
  transform: scale(105%);
  transition: all 0.1s;
  box-shadow: 1px 1px 5px 1px rgb(265, 65, 65);
}

.right-box {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 10%;
}

.right-top-box h3 {
  margin: 0;
}

.right-mid-box {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-mid-box p {
  margin: 0;
}

.right-bot-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
}

.price {
  color: white;
  padding: 0.5rem;
  white-space: nowrap;
}

.bike-item-added .bike-item-added-text {
  font-style: italic;
  border: 1px solid rgb(265, 65, 65);
  border-radius: 5px;
  text-align: center;
  margin: 0;
  line-height: 15px;
  padding: 5px;
}

@media (max-width: 1920px) {
  .bike-item {
    padding: 15px;
    gap: 15px;
    height: 250px;
  }
}

@media (max-width: 1440px) {
  .bike-item {
    width: 70%;
    margin: 10px 0 10px 0;

    min-height: 300px;
  }
}

@media (max-width: 1366px) {
  .bike-item {
    width: 90%;
  }

  .left-box {
    flex-basis: 50%;
  }

  .right-box {
    flex-basis: 50%;
  }
}

@media (max-width: 1024px) {
  .bike-item {
    width: 90%;
    border-radius: 15px;
  }
}

@media (max-width: 600px) {
  .bike-item {
    width: 100%;
    border: 1px solid rgb(265, 65, 65);
    position: relative;
    overflow: hidden;
  }

  .left-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  .right-box {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 20px;
    background-color: rgb(10, 0, 15, 0.6);
    text-shadow: 1px 1px 10px black;
  }

  .right-mid-box {
    width: 80%;
    align-self: center;
  }
}
