.bike-item {
  display: flex;
  width: calc(50% - 25px);
  justify-content: space-between;
  min-height: 350px;
  border: 2px solid rgb(265, 65, 65);
  
 
  
  border-radius: 10px;
  margin: 0 25px 25px 0;
  background-color: inherit;
}

.bike-item:hover {
  cursor: pointer;
  transform: scale(101%);
  transition: all .2s;
  box-shadow: 1px 1px 12px 1px rgb(265, 65, 65);
}

.bike-item.bike-item-added:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.left-box {
  flex-basis: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

.bike-item-img {
  border-radius: 10px;
  width: 85%;
  height: 85%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bike-btn {
  width: 60%;
  align-self: center;
  background-color: transparent;
  border: 1px solid rgb(265, 65, 65);
  color: inherit;
  border-radius: 7px;
  padding: 5px 10px;
  cursor: pointer;
}

.bike-btn:hover {
  transform: scale(105%);
  transition: all .1s;
  box-shadow: 1px 1px 5px 1px rgb(265, 65, 65);
}

.right-box {
  flex-basis: 45%;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 padding: 0 10px;
}

.right-top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: white;
  padding: 0.5rem;
  
}
