.layout-body {
  height: min-content;
  
  color: white;
  border: 10px solid rgb(255, 65, 65);
  border-bottom: none;
  border-top: none;
  border-radius: 50px;
  margin: 150px;
  overflow: hidden;
  
}

@media (max-width: 1024px) {
  .layout-body {
    margin: 150px 75px 150px 75px;
  }
}

@media (max-width: 768px) {
  .layout-body {
    margin: 150px 25px 150px 25px;
    border: 7px solid rgb(255, 65, 65);
    border-bottom: none;
    border-top: none;
    border-radius: 30px;
  }
}