.layout-body {
  height: min-content;
  margin-top: 150px;
  margin-bottom: 150px;
  color: white;
  border: 10px solid rgb(255, 65, 65);
  border-bottom: none;
  border-top: none;
  border-radius: 50px;
  margin: 150px 50px 150px 50px;
  overflow: hidden;
}
