.header {
  position: fixed;
  background-color: rgb(10, 0, 24, 0.9);
  box-shadow: 2px 2px 40px 2px rgb(10, 0, 24);
  top: 0;
  width: 100vw;
  padding: 0 3rem;
  color: white;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav {
  flex-basis: 33%;
  justify-self: flex-start;
}

.web-title {
  display: inline-block;
  color: rgb(265, 65, 65);
  border: 2px solid rgb(265, 65, 65);
  border-top: none;
  border-bottom: none;
  border-radius: 10px;
  padding: 0 10px;
  text-shadow: 1px 1px 10px rgb(265, 65, 65);
  text-decoration: none;
}

.web-title:hover {
  transform: scale(105%);
  
  text-shadow: 2px 2px 20px rgb(265, 65, 65);
  transition: all 0.2s;
}

.middle-nav {
  flex-basis: 33%;
  text-align: center;
}

.navBtns {
  flex-basis: 33%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  white-space: nowrap;
}

.navLink {
  color: inherit;
  text-decoration: none;

  text-align: center;
  padding: 5px;
}

.navLink:hover {
  font-size: 1.2rem;

  transition: all 0.2s;
}

.activeLink {
  border: 3px solid rgb(255, 54, 54);
  border-top: none;
  border-bottom: none;
  border-radius: 10px;

  transition: all 0.2s;
  text-shadow: 1px 1px 20px rgb(265, 65, 65);
}

.authHeadBtn {
  padding: 0.5rem 1rem;
  color: inherit;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255, 54, 54);
  background-color: inherit;

  transition: all 0.2s;
}

.authHeadBtn:hover {
  transform: scale(105%);
  box-shadow: 1px 1px 10px 1px rgb(255, 65, 65);
}
