.footer {
  clear: both;
  position: relative;
  bottom: 0;
  width: 100vw;
  padding: 10px;
  text-align: center;
  background-color: rgb(12, 0, 29);
  color: white;
  box-shadow: 3px 3px 50px 3px rgb(255, 65, 65);
}
