.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
 
  margin: auto;
  
}

.form h2 {
  color: rgb(265, 65, 65);
}

.form p {
  margin-top: 0.2rem;
  height: 0.5rem;
}

.form label {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.form input {
  width: 40%;
  min-height: 2rem;
  border-radius: 7px;
}

input .invalid {
  color: red;
}

.invalid {
  color: red;
  border-color: red;
}

.formBtn{
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 110%;
  border: 1px solid rgb(265, 65, 65);
  color: white;
  background-color: inherit;
  box-shadow: 1px 1px 10px 1px rgb(265, 65, 65);
  cursor: pointer;
}

.formBtn:active, .formBtn:focus {
  box-shadow: 1px 1px 10px 1px rgb(265, 65, 65);
}

.formBtn:hover {
  transform: scale(105%);
  box-shadow: 2px 2px 20px 2px rgb(265, 65, 65);
}

.formBtn:disabled {
  border: none;
  background-color: inherit;
  border: 1px solid rgb(265, 65, 65);
  cursor: not-allowed;
  box-shadow: none;
}

.btnMode {
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  font-style: italic;
  margin-top: 1rem;
}



@media (max-width: 1440px) {
  .form input {
    width: 60%;
    min-height: 1.5rem;
    border-radius: 7px;
  }
}

@media (max-width: 1024px) {
  .form input {
    width: 80%;
    min-height: 1.5rem;
    border-radius: 7px;
  }
}

@media (max-width: 768px) {
  .form input {
    width: 50%;
    min-height: 1.5rem;
    border-radius: 7px;
  }
}

@media (max-width: 375px) {
  .form input {
    width: 70%;
    min-height: 1.5rem;
    border-radius: 7px;
  }
}