:root {
  --left-bg-color: rgb( 10, 0, 24, 0.5);
  --right-bg-color: rgb(265, 65, 65, 0.5);
  --hover-width: 60%;
  --other-width: 40%;
  --speed: 1000ms;
}

.contact {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: #333;
  overflow: hidden;
text-shadow: 1px 1px 10px black;

  /* height: 100vh;

  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; */
}

.contact h2 {
  
  color: #fff;
  position: absolute;
  white-space: nowrap;
}

.left h2 {
  right: 15%;
  top: 10%;
  transform: translateX(30%);
}

.right h2 {
  left: 15%;
  top: 10%;
  transform: translateX(-30%);
}

.left {
  position: relative;
}

.left p {
  position: absolute;
  max-height: 200px;
  right: 7%;
  top: 25%;
  color: white;
 
  width: 250px;
}

.right p {
  position: absolute;
  max-height: 200px;
  left: 7%;
  top: 25%;
  color: white;
  
  width: 250px;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url("../assets/stefan-left.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10rem;
}

.split.left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
  
}

.split.right {
  right: 0;
  background: url("../assets/tanja-right.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10rem;
}

.split.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}


@media (max-width: 1920px) {
  .contact {
    height: 750px;
  }
  .split.left {
  
  }

  .split.right {
    
  }
}

@media (max-width: 1600px) {
  .contact {
    height: 600px;
  }
}

@media (max-width: 1440px) {
  .contact {
    height: 600px;
  }

  .split.left {
  background-position-y: 0;
  }

  .split.right {
    background-position-y: 0;
  }
}

@media (max-width: 1024px) {
  .contact {
    height: 400px;
  }
  .split.left {
   
  }

  .split.right {
    
  }
}

@media (max-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    height: 1200px;
    
  }
  .split {
    position: relative;
  }

  .split.left {
    width: 100%;
    background-position-y: 0rem;
  }

  .split.right {
    width: 100%;
    background-position-y: 0rem;
  }
}