.my-account {
  padding: 0 150px;
}

.account-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.account-info__left {
  display: flex;
  flex-direction: column;
  
}

.account-info__name, .account-info__email {
  align-items: center;
 
  display: flex;
  flex-direction: column;
}

.account-info__left h4 {
  color: rgb(265, 65, 65);
  margin: 0;
  
 
}

.account-info__left p {
  border: 1px solid rgb(265, 65, 65);
  border-top: none;
  border-bottom: none;
  border-radius: 10px;
  padding: 5px 10px;
}

.account-info__right {
  position: relative;
}

.account-info__right img {
  width: 10rem;
  border-radius: 10px;
    filter: brightness(100);
}

.account-info__right button {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%);
  text-decoration: none;
  color: black;
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid grey;
}

.new-photo {
  text-align: end;
}



.account-edit {
  display: flex;
  flex-direction: column;
  color: white;
}

.account-edit > div {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
}

.name-edit,
.password-edit,
.account-delete {
  display: flex;
  flex-direction: column;
  position: relative;
}

.name-edit-header,
.password-edit-header,
.account-delete-header {
  display: flex;
  justify-content: space-between;
  padding: 7px 10px;
  border-radius: 10px;
  border: 2px solid rgb(265, 65, 65);
  cursor: pointer;
  background-color: inherit;
}

.name-edit-body,
.password-edit-body,
.account-delete-body {
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: inherit;
  border: 1px solid rgb(265, 65, 65);
  border-top: none;
  border-radius: 10px;
  transition: all 2s;
}

.name-edit-body.show-edit-body {
  display: flex;
  
}

.name-edit-body.hide-edit-body {
  
  display: none;
}

.name-edit-input,
.password-edit-input,
.account-delete-input {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 5px;
}

.name-edit-notificaiton,
.password-edit-notification,
.account-delete-notification {
}

.success-notification {
  color: green;
}

.fail-notification {
  color: red;
}

.arrow {
  transform: rotate(-360deg);
  transition: all 0.2s;
}

.arrow-rotate {
  transform: rotate(-180deg);
  transition: all 0.2s;
}

.delete-button {
  background-color: red;
  color: white;
}


@media (max-width: 1920px) {
  .my-account {
    padding: 0 100px;
  }
}

@media (max-width: 768px) {
  .my-account {
    padding: 0 25px;
  }

  
  .account-info__left p { 
    padding: 0;
  }
}

@media (max-width: 500px) {
  .account-info {
    justify-content: center;
    
  }
  .account-info__left {
    margin-top: 10px;
  }
  .account-info__right {
    flex-basis: 60%;
    text-align: center;
  }

 
 
}