.my-account {
  padding: 0 20%;
  
}



.account-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-info__left {
  display: flex;
  flex-direction: column;
}

.account-info__right {
  position: relative;
}

.account-info__right img {
  width: 10rem;
  border-radius: 10px;
}

.account-info__right button {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 5px;
  text-decoration: none;
  color: black;
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid grey;
}

.new-photo {
  text-align: end;
}

.my-account h3 {
  margin-top: 5rem;
}

.account-edit {
  display: flex;
  flex-direction: column;
  color: rgb(10, 0, 24);
}

.account-edit > div {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
}

.name-edit,
.password-edit,
.account-delete {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  border: 1px solid lightgrey;
}

.name-edit-header,
.password-edit-header,
.account-delete-header {
  background-color: rgb(224, 224, 224);
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
}

.name-edit-body,
.password-edit-body,
.account-delete-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name-edit-input,
.password-edit-input,
.account-delete-input {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 5px;
}

.name-edit-notificaiton,
.password-edit-notification,
.account-delete-notification {
}

.success-notification {
  color: green;
}

.fail-notification {
  color: red;
}

.arrow {
  transform: rotate(-360deg);
  transition: all 0.2s;
}

.arrow-rotate {
  transform: rotate(-180deg);
  transition: all 0.2s;
}

.delete-button {
  background-color: red;
  color: white;
}
