

.orders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20%;
  list-style: none;
  
}

.order-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-config-list {
  display: flex;
  padding-inline-start: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item-config {
  list-style: none;
  white-space: nowrap;
}

.order-item-bot {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2rem;
}

.order-item-bot div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 2px dashed red;
  border-radius: 10px;
}

.order-summary {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  margin-top: 6rem;
  padding: 3rem;
  border: 3px solid red;
  border-radius: 10px;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
