.header {
  margin-top: 10rem;
  position: absolute;
}

.parallax {
  background-image: url("../../../assets/BikeConfigPics/dragon-config.jpg");
  min-height: 300px;
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


