.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgb(10,0,15);
  opacity: 0.8;
}

.overlay {
  z-index: 150;
  position: fixed;
  left: 50vw;
  top: 30vh;
  transform: translate(-50%, -50%);
}
